@import url("https://fonts.cdnfonts.com/css/rubik-mono-one");

@import url("https://fonts.cdnfonts.com/css/roboto");

* {
  padding: 0;
  margin: 0;
  --bg-gradient: radial-gradient(
    590px at 8.2% 13.8%,
    rgb(18, 35, 60) 0%,
    rgb(187, 187, 187) 90%
  );
  --login-bg-gradient: linear-gradient(
    195deg,
    rgba(239, 239, 239, 0.1),
    rgba(10, 9, 24, 0.2)
  );
  --primary-text-color: #f4fefd;
  --secondary-text-color: #000;
  --border-color: #fff;
  --hover-color: #bebaba;
  --transaction-hover: #4f5e74;
  --error-color: rgb(255, 29, 29);
  font-family: "Roboto", sans-serif;
  --credit: rgb(0, 107, 0);
  --debit: rgb(184, 0, 0);
  font-size: 16px;
  --submit-btn-bg: #243349;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100svh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.app {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: var(--bg-gradient);
  position: relative;
}

.navbar {
  flex-basis: 15%;
  width: 100%;

  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  box-sizing: border-box;
  border-bottom: solid 1px var(--border-color);
}

.user-info {
  flex: 5;
}

.user-greeting {
  display: flex;
  font-size: 1.05rem;
  text-transform: capitalize;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  /* border: solid 1px red; */
}
.user-name {
  font-size: 1.05rem;
  text-transform: capitalize;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  cursor: default;
  margin-left: 0.25rem;
}
.user-account-number {
  font-size: 1rem;
  color: var(--primary-text-color);
  cursor: default;
}

.user-account-type {
  color: var(--primary-text-color);
  text-transform: capitalize;
  cursor: default;
}

.user-balance {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: default;
}

.user-balance-cont {
  display: flex;
  align-items: center;
}

.icon-eye {
  color: var(--primary-text-color);
  margin-right: 0.5rem;
  cursor: pointer;
}

.user-current-balance {
  color: var(--primary-text-color);
  font-size: 1.05rem;
  text-transform: capitalize;
  font-family: "Rubik Mono One", sans-serif;
}

.user-stash {
  color: var(--primary-text-color);
  font-size: 1rem;
}

.transfer-success-modal {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 6rem;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.495),
    rgba(243, 241, 241, 0.4)
  );
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 5px;
  color: var(--primary-text-color);
}

.close-transfer-success-modal {
  border: none;
  background: var(--submit-btn-bg);
  padding: 0.25rem 1rem;
  color: var(--primary-text-color);
}

.show-success-modal {
  display: flex;
  animation: animateDisplay 0.5s linear forwards;
}

.log-in {
  height: 100svh;
  width: 100%;
  position: absolute;
  background: var(--login-bg-gradient);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.212);
  z-index: 2;
  display: none;
}

.log-in-hide {
  display: none;
}
.log-in-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
.log-in-header {
  color: var(--primary-text-color);
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.log-in-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  color: var(--primary-text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.label-name {
  flex-basis: 40%;
}

.log-in-error {
  flex-basis: 60%;
  display: none;
  color: var(--error-color);
  text-align: right;
  font-size: 0.75rem;
  text-align: right;
}

.show-error {
  display: block;
}

.error {
  color: var(--error-color) !important;
  text-transform: capitalize;
}

.login-input {
  width: 100%;
  padding: 0.75rem 0.75rem;
  box-sizing: border-box;
  border: solid 1px var(--border-color);
  background: none;
  outline: none;
  color: var(--primary-text-color);
  transition: linear 0.3s;
  text-decoration: none;
}

.login-input:hover {
  border-color: var(--hover-color);
}

.app-inner {
  display: flex;
  flex-basis: 70%;
  overflow: hidden;
}

.app-sidebar {
  flex-basis: 10%;
  display: flex;
  border-right: solid 1px var(--border-color);
  flex-direction: column;
}

.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 5;
  color: var(--primary-text-color);
}

.button-link {
  text-decoration: none;
  color: var(--primary-text-color);
  text-transform: capitalize;
  transition: linear 0.3s;
}

.side-icon {
  font-size: 1.25rem;
}

.button-link:hover {
  color: var(--hover-color);
}

.button-active {
  color: var(--hover-color);
}

.app-main {
  flex-basis: 90%;
  height: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
}

.app-main-inner {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.295),
    rgba(243, 241, 241, 0.3)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.212);
  overflow-y: auto;
}

.app-main-inner::-webkit-scrollbar {
  width: 0.3rem;

  background: none;
}

.app-main-inner::-webkit-scrollbar-track {
  width: 5px !important;
}

.app-main-inner::-webkit-scrollbar-thumb {
  background-color: var(--transaction-hover);
  height: 1px;
}

@keyframes animateDisplay {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.show-interface {
  display: block !important;
  animation: animateDisplay 0.5s linear forwards;
}
.hide-interface {
  display: none !important;
}

.transactions-interface {
  display: none;
  width: 100%;
  height: auto;
}

.send-money-interface {
  display: none;
}

.transaction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 2rem;
  box-sizing: border-box;
  border-bottom: solid 1px var(--border-color);
  transition: linear 0.3s;
}

.transaction:hover {
  background: var(--transaction-hover);
}

.transaction-info-left {
  display: flex;
  margin-bottom: 1rem;
}

.transaction-sender-name {
  flex-basis: 50%;
  font-size: 1.05rem;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.transaction-date {
  flex-basis: 50%;
  text-align: right;
  color: var(--primary-text-color);
}

.transaction-info-right {
  display: flex;
}

.transaction-sender-desc {
  text-transform: capitalize;
  flex-basis: 50%;
  color: var(--secondary-text-color);
}

.transaction-amount {
  flex-basis: 50%;
  text-align: right;
}

.debit {
  color: var(--debit);
}

.credit {
  color: var(--credit);
}
/* bank send money styles */
.form-container {
  padding: 2rem;
  box-sizing: border-box;
}

.form-row {
  position: relative;
  margin-bottom: 1rem;
}
.form-label {
  color: var(--primary-text-color);
  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.form-input {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  background: none;
  padding: 0.5rem;
  box-sizing: border-box;
  outline: none;
  color: var(--primary-text-color);
  border: solid 1px var(--border-color);
  transition: linear 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  --moz-appearance: textfield; /* Firefox */
}

.form-input:hover {
  border: solid 1px var(--hover-color);
  color: var(--hover-color);
}

.amount-to-send {
  display: none;
}

.transaction-note {
  display: none;
}
/* 
.amount-to-send-active {
  display: block;
  animation: animateDisplay 0.5s linear forwards;
} */

.dropdown-list {
  top: 100%;
  position: absolute;
  display: none;
  max-height: 12.1rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.495),
    rgba(243, 241, 241, 0.4)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(30px);
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border-bottom: solid 1px var(--border-color);
  border-left: solid 1px var(--border-color);
  border-right: solid 1px var(--border-color);
  z-index: 1;
}

.dropdown-list::-webkit-scrollbar {
  width: 0.35rem;
  background: none;
}

.dropdown-list::-webkit-scrollbar-track {
  width: 5px !important;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: var(--transaction-hover);
  height: 1px;
}

.show-dropdown-list {
  display: block;
  animation: animateDisplay 0.5s linear forwards;
}

.list-element {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.list-item {
  display: block;
  color: var(--secondary-text-color);
  width: 100%;
  cursor: pointer;
  transition: linear 0.3s;
}

.list-item:hover {
  color: var(--transaction-hover);
}

.receiver {
  color: var(--secondary-text-color);
  text-align: right;
  display: none;
}

.found {
  display: block;
}

.submit-form-btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  background: #243349;
  color: var(--primary-text-color);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.212);
  cursor: pointer;
  margin-top: 1rem;
  transition: linear 0.3s;
  text-decoration: none;
  display: inline-block;
}

.submit-form-btn:hover {
  background: var(--transaction-hover);
}

/** pay bills styles **/
.pay-bills-interface {
  display: none;
}

.pay-bills-menu {
  display: none;
}

.stash-interface {
  display: none;
}

.stash-menu {
  display: none;
}

.confirmation-interface {
  background: var(--login-bg-gradient);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.212);
  height: 100svh;
  width: 100%;
  position: absolute;
  z-index: 3;
  display: none;
}

.confirmation-active {
  display: block;
  animation: animateDisplay 0.5s linear forwards;
}

.confirmation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 35rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.confirm-receiver {
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  cursor: default;
}
.confirmation-screen {
  flex-basis: 20%;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.5rem;
  color: var(--primary-text-color);
  font-size: 1.5rem;
  width: 100%;
  padding: 0 2.5rem;
  box-sizing: border-box;
}

.confirmation-numbers {
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.confirmation-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.confirm-button {
  width: 5rem;
  height: 5rem;
  outline: none;
  background: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  color: var(--primary-text-color);
  transition: linear 0.3s;
}

.confirm-button:hover {
  color: var(--transaction-hover);
}

.confirm-btn {
  width: 100%;
  border: none;
}

.app-footer {
  flex-basis: 15%;
  width: 100%;
  padding: 0 4rem;
  box-sizing: border-box;
  border-top: solid 1px var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sort-icon {
  color: var(--primary-text-color);
  font-size: 1.2rem;
  text-decoration: none;
}

.log-out-btn {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: linear 0.3s;
}

.log-out-btn:hover {
  color: var(--hover-color);
}

@media (max-width: 900px) and (max-height: 420px) {
  .navbar {
    padding: 1rem 1rem !important;
  }
}
@media (max-width: 350px) {
  .user-greeting,
  .user-account-number,
  .user-name,
  .user-current-balance,
  .icon-eye,
  .user-balance,
  .user-stash,
  .user-stash-balance {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 800px) {
  .log-in {
    width: 100%;
    height: 100%;
  }

  .log-in-form {
    padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
  }

  .navbar {
    flex-basis: 10% !important;
    width: 100%;
    padding: 0rem 1rem !important;
    align-items: center;
  }

  .user-greeting,
  .user-account-number,
  .user-name,
  .user-current-balance,
  .icon-eye,
  .user-balance {
    font-size: 0.85rem;
  }

  .app-sidebar {
    flex-basis: 18%;
  }

  .app-main {
    flex-basis: 82%;
    padding: 1rem 1rem;
  }

  .app-inner {
    flex-basis: 80%;
  }
  .app-main-inner {
    min-height: 100%;
    overflow-y: auto;
  }

  .transaction {
    padding: 1rem;
  }

  .transaction-sender-desc {
    font-size: 0.85rem;
    text-transform: uppercase;
  }

  .transaction-sender-name {
    font-size: 0.85rem;
  }

  .transaction-date {
    font-size: 0.85rem;
  }

  .form-container {
    padding: 2rem 1rem;
  }

  .app-footer {
    flex-basis: 10% !important;
  }
}
